# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/libraries/
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/praktikum-java-qa-sprint-4.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
